<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GeoLocatulin Weather Forecast App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu side="end" menuId="settingsMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Temperature Unit</ion-label>
        <div class="temperature-switch">
          <ion-button 
            [color]="temperatureUnit === 'metric' ? 'primary' : 'medium'" 
            (click)="updateTemperatureUnit('metric')">
            °C
          </ion-button>
          <ion-button 
            [color]="temperatureUnit === 'imperial' ? 'primary' : 'medium'" 
            (click)="updateTemperatureUnit('imperial')">
            °F
          </ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Severe Weather Alerts</ion-label>
        <div class="alert-switch">
          <ion-button 
            [color]="!enableAlerts ? 'primary' : 'medium'" 
            (click)="updateAlerts(false)">
            off
          </ion-button>
          <ion-button 
            [color]="enableAlerts ? 'primary' : 'medium'" 
            (click)="updateAlerts(true)">
            on
          </ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>App Theme</ion-label>
        <div class="theme-switch">
          <ion-button 
            [color]="appTheme === 'light' ? 'primary' : 'medium'" 
            (click)="updateTheme('light')">
            Li
          </ion-button>
          <ion-button 
            [color]="appTheme === 'dark' ? 'primary' : 'medium'" 
            (click)="updateTheme('dark')">
            Da
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <div *ngIf="!isOnline" class="offline-banner">
    <p>Offline Mode: Some features may not be available.</p>
  </div>
  <div class="current-weather-container">
    <div class="current-weather">
      <ion-card class="curr-forecast-card">
        <ion-card-content>
          <h3 class="searched-weather-title">{{ 'Calero' }}, {{ getCountryName(currentWeather.sys.country) }}</h3>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ currentWeather.main.temp }}°{{ temperatureUnit === 'metric' ? 'C' : 'F' }}</strong></p>
              <p class="label">Temp</p>
            </div>
            <div class="forecast-column">
              <p class="data"><strong>{{ currentWeather.main.humidity }}%</strong></p>
              <p class="label">Humidity</p>
            </div>
          </div>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ currentWeather.wind.speed }} {{ temperatureUnit === 'metric' ? 'm/s' : 'mph' }}</strong></p>
              <p class="label">Wind Speed</p>
            </div>
            <div class="forecast-column">
              <p class="data"><strong>{{ currentWeather.main.pressure }} hPa</strong></p>
              <p class="label">Pressure</p>
            </div>
          </div>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ currentWeather.weather[0].description }}</strong></p>
              <p class="label">Condition</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  

    <p class="search-heading">Search for a Location:</p>
    <ion-item class="rounded-input" lines="none">
      <ion-input [(ngModel)]="searchQuery" placeholder="Enter City"></ion-input>
    </ion-item>
    
<button class="rounded-button" (click)="getWeatherForSearch()">Search</button>

<h2>Today's Hourly Forecast</h2>
<ion-slides *ngIf="currentForecast" class="forecast-slider" [options]="slideOpts">
  <ion-slide *ngFor="let hour of currentForecast.list.slice(0, 8); let i = index">
    <ion-card class="hourly-forecast-card">
      <ion-card-header>
        <ion-card-title>{{ hourdt_txt(i) }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="forecast-row">
          <div class="forecast-column">
            <p class="data"><strong>{{ hour.main.temp }}°{{ temperatureUnit === 'metric' ? 'C' : 'F' }}</strong></p>
            <p class="label">Temp</p>
          </div>
          <div class="forecast-column">
            <p class="data"><strong>{{ hour.main.humidity }}%</strong></p>
            <p class="label">Humidity</p>
          </div>
        </div>
        <div class="forecast-row">
          <div class="forecast-column">
            <p class="data"><strong>{{ hour.wind.speed }} {{ temperatureUnit === 'metric' ? 'm/s' : 'mph' }}</strong></p>
            <p class="label">Wind Speed</p>
          </div>
          <div class="forecast-column">
            <p class="data"><strong>{{ hour.main.pressure }} hPa</strong></p>
            <p class="label">Pressure</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>


<h2>5 Day Forecast</h2>
<div class="forecast-grid" *ngIf="currentForecast">
  <ng-container *ngFor="let day of currentForecast.list; let i = index">
    <ion-card *ngIf="i % 8 === 0" class="five-day-forecast-card">
      <ion-card-header>
        <ion-card-title>{{ day.dt_txt | date:'mediumDate' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="forecast-row">
          <div class="forecast-column">
            <p class="data"><strong>{{ day.main.temp }}°{{ temperatureUnit === 'metric' ? 'C' : 'F' }}</strong></p>
            <p class="label">Temp</p>
          </div>
          <div class="forecast-column">
            <p class="data"><strong>{{ day.main.humidity }}%</strong></p>
            <p class="label">Humidity</p>
          </div>
        </div>
        <div class="forecast-row">
          <div class="forecast-column">
            <p class="data"><strong>{{ day.wind.speed }} {{ temperatureUnit === 'metric' ? 'm/s' : 'mph' }}</strong></p>
            <p class="label">Wind Speed</p>
          </div>
          <div class="forecast-column">
            <p class="data"><strong>{{ day.main.pressure }} hPa</strong></p>
            <p class="label">Pressure</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</div>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div *ngIf="searchedWeather">
      <ion-card class="curr-forecast-card">
        <ion-card-content>
          <h3 class="searched-weather-title">{{ searchedWeather.name }}, {{ getCountryName(searchedWeather.sys.country) }}</h3>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ searchedWeather.main.temp }}°{{ temperatureUnit === 'metric' ? 'C' : 'F' }}</strong></p>
              <p class="label">Temp</p>
            </div>
            <div class="forecast-column">
              <p class="data"><strong>{{ searchedWeather.main.humidity }}%</strong></p>
              <p class="label">Humidity</p>
            </div>
          </div>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ searchedWeather.wind.speed }} {{ temperatureUnit === 'metric' ? 'm/s' : 'mph' }}</strong></p>
              <p class="label">Wind Speed</p>
            </div>
            <div class="forecast-column">
              <p class="data"><strong>{{ searchedWeather.main.pressure }} hPa</strong></p>
              <p class="label">Pressure</p>
            </div>
          </div>
          <div class="forecast-row">
            <div class="forecast-column">
              <p class="data"><strong>{{ searchedWeather.weather[0].description }}</strong></p>
              <p class="label">Condition</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <button class="red-button" (click)="closeModal()">Close</button>
  </div>
</div>
</ion-content>
